@charset "UTF-8";
/* line 14, src/scss/_utilities/_extend.scss */
.setup__box-bg, .best__block-bg img, .reviews__user-head img, .slideshow .swiper-slide img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

/* line 26, src/scss/_utilities/_extend.scss */
body {
  font-family: 'Open Sans', sans-serif;
}

/* line 29, src/scss/_utilities/_extend.scss */
.setup__box-title, .best__heading, .contacts__title {
  font-family: 'Permanent Marker', 'Open Sans', cursive, sans-serif;
}

@font-face {
  font-family: "iconFont";
  src: url("../fonts/iconFont.eot");
  src: url("../fonts/iconFont.eot?#iefix") format("eot"), url("../fonts/iconFont.woff2") format("woff2"), url("../fonts/iconFont.woff") format("woff"), url("../fonts/iconFont.ttf") format("truetype"), url("../fonts/iconFont.svg#iconFont") format("svg");
}

/* line 23, src/scss/_generated/_spriteFont.scss */
.icon-facebook:before, .icon-instagram:before, .icon-left-arrow:before, .icon-maximize:before, .icon-play:before, .icon-quotation-marks:before, .icon-twitter:before, .icon-youtube:before {
  font-family: "iconFont", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-decoration: none;
  text-transform: none;
}

/* line 59, src/scss/_generated/_spriteFont.scss */
.icon-facebook:before {
  content: "";
}

/* line 59, src/scss/_generated/_spriteFont.scss */
.icon-instagram:before {
  content: "";
}

/* line 59, src/scss/_generated/_spriteFont.scss */
.icon-left-arrow:before {
  content: "";
}

/* line 59, src/scss/_generated/_spriteFont.scss */
.icon-maximize:before {
  content: "";
}

/* line 59, src/scss/_generated/_spriteFont.scss */
.icon-play:before {
  content: "";
}

/* line 59, src/scss/_generated/_spriteFont.scss */
.icon-quotation-marks:before {
  content: "";
}

/* line 59, src/scss/_generated/_spriteFont.scss */
.icon-twitter:before {
  content: "";
}

/* line 59, src/scss/_generated/_spriteFont.scss */
.icon-youtube:before {
  content: "";
}

/* line 1, src/scss/_shared/_main-setting-reset.scss */
html,
body {
  width: 100%;
  min-height: 100vh;
}

/* line 6, src/scss/_shared/_main-setting-reset.scss */
html.is-hideScroll,
body.is-hideScroll {
  width: 100%;
  overflow: hidden !important;
}

/* line 13, src/scss/_shared/_main-setting-reset.scss */
html {
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* line 19, src/scss/_shared/_main-setting-reset.scss */
body {
  overflow-x: hidden;
  position: relative;
  margin: 0;
  padding: 0;
  background-color: #fff;
  line-height: 1.42857143;
  font-size: 14px;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 33, src/scss/_shared/_main-setting-reset.scss */
body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

/* line 38, src/scss/_shared/_main-setting-reset.scss */
body > .body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

/* line 44, src/scss/_shared/_main-setting-reset.scss */
body > .body--start {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

/* line 51, src/scss/_shared/_main-setting-reset.scss */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* line 54, src/scss/_shared/_main-setting-reset.scss */
*:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* line 61, src/scss/_shared/_main-setting-reset.scss */
button,
input,
optgroup,
select,
textarea {
  font-size: 100%;
  margin: 0;
}

/* line 71, src/scss/_shared/_main-setting-reset.scss */
button,
input {
  overflow: visible;
}

/* line 77, src/scss/_shared/_main-setting-reset.scss */
button[disabled] {
  opacity: 0.55;
  cursor: not-allowed;
}

/* line 83, src/scss/_shared/_main-setting-reset.scss */
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

/* line 89, src/scss/_shared/_main-setting-reset.scss */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 95, src/scss/_shared/_main-setting-reset.scss */
textarea {
  overflow: auto;
}

/* line 100, src/scss/_shared/_main-setting-reset.scss */
p,
h1, h2, h3, h4, h5, h6,
hr {
  margin: 0;
  padding: 0;
}

/* line 108, src/scss/_shared/_main-setting-reset.scss */
ul {
  margin: 0;
  padding: 0;
}

/* line 113, src/scss/_shared/_main-setting-reset.scss */
ul li {
  list-style: none;
}

/* line 119, src/scss/_shared/_main-setting-reset.scss */
a {
  outline: none;
  text-decoration: none;
}

/* line 124, src/scss/_shared/_main-setting-reset.scss */
a:hover, a:focus {
  text-decoration: none;
}

/* line 131, src/scss/_shared/_main-setting-reset.scss */
input[type="text"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

/* line 135, src/scss/_shared/_main-setting-reset.scss */
picture {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 8, src/scss/_shared/_grid.scss */
.c-grid, .c-grid-large, .c-grid-fluid {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}

/* line 20, src/scss/_shared/_grid.scss */
.c-grid {
  max-width: 1280px;
}

/* line 26, src/scss/_shared/_grid.scss */
.c-grid-large {
  max-width: 1480px;
}

/* line 31, src/scss/_shared/_grid.scss */
.c-grid-fluid {
  max-width: 100%;
}

/* line 4, src/scss/_shared/_common.scss */
.copyright {
  padding-bottom: 23px;
}

/* line 7, src/scss/_shared/_common.scss */
.copyright__text {
  color: #ffffff;
  font-size: 16px;
}

/* line 15, src/scss/_shared/_common.scss */
.social {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

/* line 19, src/scss/_shared/_common.scss */
.social__link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 42px;
  height: 42px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-color: #ffffff;
}

/* line 28, src/scss/_shared/_common.scss */
.social__link:not(:last-of-type) {
  margin-right: 25px;
}

/* line 32, src/scss/_shared/_common.scss */
.social__link .icon-font {
  color: #07181e;
  font-size: 20px;
}

/* line 1, src/scss/_shared/_magnificPopup.scss */
.c-modal {
  position: relative;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
}

/* line 12, src/scss/_shared/_magnificPopup.scss */
.mfp-gallery .mfp-counter {
  display: none;
}

/* line 16, src/scss/_shared/_magnificPopup.scss */
.mfp-gallery .mfp-figure {
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-duration: 0.75s;
          animation-duration: 0.75s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

/* line 30, src/scss/_shared/_magnificPopup.scss */
.mfp-zoom-in .mfp-with-anim {
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: scale(0.8);
      -ms-transform: scale(0.8);
          transform: scale(0.8);
}

/* line 36, src/scss/_shared/_magnificPopup.scss */
.mfp-zoom-in.mfp-bg {
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

/* line 42, src/scss/_shared/_magnificPopup.scss */
.mfp-zoom-in.mfp-ready .mfp-with-anim {
  opacity: 1;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

/* line 46, src/scss/_shared/_magnificPopup.scss */
.mfp-zoom-in.mfp-ready.mfp-bg {
  opacity: 0.8;
}

/* line 52, src/scss/_shared/_magnificPopup.scss */
.mfp-zoom-in.mfp-removing .mfp-with-anim {
  -webkit-transform: scale(0.8);
      -ms-transform: scale(0.8);
          transform: scale(0.8);
  opacity: 0;
}

/* line 56, src/scss/_shared/_magnificPopup.scss */
.mfp-zoom-in.mfp-removing.mfp-bg {
  opacity: 0;
}

/* line 67, src/scss/_shared/_magnificPopup.scss */
.mfp-slide-in .mfp-with-anim {
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
}

/* line 73, src/scss/_shared/_magnificPopup.scss */
.mfp-slide-in.mfp-bg {
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

/* line 79, src/scss/_shared/_magnificPopup.scss */
.mfp-slide-in.mfp-ready .mfp-with-anim {
  opacity: 1;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}

/* line 83, src/scss/_shared/_magnificPopup.scss */
.mfp-slide-in.mfp-ready.mfp-bg {
  opacity: 0.8;
}

/* line 89, src/scss/_shared/_magnificPopup.scss */
.mfp-slide-in.mfp-removing .mfp-with-anim {
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
  opacity: 0;
}

/* line 93, src/scss/_shared/_magnificPopup.scss */
.mfp-slide-in.mfp-removing.mfp-bg {
  opacity: 0;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* line 1, src/scss/_shared/_iconFont.scss */
.icon-font {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  line-height: 1;
}

/* line 4, src/scss/_macros/_logotype.scss */
.logo.logo--footer {
  max-width: 118px;
  padding-bottom: 23px;
}

/* line 13, src/scss/_macros/_logotype.scss */
.logo.logo--light .logo__img-curve-1 {
  stroke: #fff;
}

/* line 16, src/scss/_macros/_logotype.scss */
.logo.logo--light .logo__img-curve-2 {
  stroke: #fff;
}

/* line 21, src/scss/_macros/_logotype.scss */
.logo.logo--light .logo__img-circle--left {
  fill: #fff;
}

/* line 24, src/scss/_macros/_logotype.scss */
.logo.logo--light .logo__img-circle--middle {
  stroke: #fff;
}

/* line 27, src/scss/_macros/_logotype.scss */
.logo.logo--light .logo__img-circle--right {
  stroke: #fff;
}

/* line 32, src/scss/_macros/_logotype.scss */
.logo.logo--light .logo__img-letter--top {
  fill: #1d1d1b;
  stroke: #1d1d1b;
}

/* line 36, src/scss/_macros/_logotype.scss */
.logo.logo--light .logo__img-letter--bottom {
  fill: #1d1d1b;
  stroke: #fff;
}

/* line 45, src/scss/_macros/_logotype.scss */
.logo__btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

/* line 50, src/scss/_macros/_logotype.scss */
.logo__img {
  display: block;
  width: 100%;
  height: 100%;
}

/* line 56, src/scss/_macros/_logotype.scss */
.logo__img-curve-1 {
  stroke: #1d1d1b;
}

/* line 59, src/scss/_macros/_logotype.scss */
.logo__img-curve-2 {
  stroke: #1d1d1b;
}

/* line 64, src/scss/_macros/_logotype.scss */
.logo__img-circle--left {
  fill: #1d1d1b;
}

/* line 67, src/scss/_macros/_logotype.scss */
.logo__img-circle--middle {
  stroke: #1d1d1b;
}

/* line 70, src/scss/_macros/_logotype.scss */
.logo__img-circle--right {
  stroke: #1d1d1b;
}

/* line 75, src/scss/_macros/_logotype.scss */
.logo__img-letter--top {
  fill: #fff;
  stroke: #fff;
}

/* line 79, src/scss/_macros/_logotype.scss */
.logo__img-letter--bottom {
  fill: #fff;
  stroke: #1d1d1b;
}

/* line 3, src/scss/_macros/_title.scss */
.c-title {
  font-size: 36px;
  color: #054d57;
  font-weight: bold;
  text-align: center;
}

/* line 3, src/scss/_components/_header.scss */
.header {
  background: -webkit-gradient(linear, left top, left bottom, from(#001a28), to(#081412));
  background: -webkit-linear-gradient(top, #001a28 0%, #081412 100%);
  background: -o-linear-gradient(top, #001a28 0%, #081412 100%);
  background: linear-gradient(to bottom, #001a28 0%, #081412 100%);
}

/* line 3, src/scss/_components/_footer.scss */
.footer {
  position: relative;
  padding-top: 105px;
  padding-bottom: 296px;
  background: -webkit-gradient(linear, left top, left bottom, from(#001a28), to(#081412));
  background: -webkit-linear-gradient(top, #001a28 0%, #081412 100%);
  background: -o-linear-gradient(top, #001a28 0%, #081412 100%);
  background: linear-gradient(to bottom, #001a28 0%, #081412 100%);
}

/* line 9, src/scss/_components/_footer.scss */
.footer__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 16, src/scss/_components/_footer.scss */
.footer__bg div {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center bottom;
}

/* line 27, src/scss/_components/_footer.scss */
.footer__wrapper {
  z-index: 2;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

/* line 32, src/scss/_components/_footer.scss */
.footer__wrapper-left, .footer__wrapper-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 50%;
}

/* line 39, src/scss/_components/_footer.scss */
.footer__wrapper-left {
  padding-left: 40px;
  padding-right: 40px;
}

/* line 43, src/scss/_components/_footer.scss */
.footer__wrapper-left > div {
  width: 100%;
  max-width: -webkit-calc((100% - 70px) / 2);
  max-width: calc((100% - 70px) / 2);
}

/* line 49, src/scss/_components/_footer.scss */
.footer__wrapper-right {
  padding-left: 20px;
  padding-right: 40px;
}

/* line 54, src/scss/_components/_footer.scss */
.footer__wrapper-right > div:nth-of-type(1) {
  width: 40%;
}

/* line 57, src/scss/_components/_footer.scss */
.footer__wrapper-right > div:nth-of-type(2) {
  width: 60%;
}

/* line 64, src/scss/_components/_footer.scss */
.footer__title {
  padding-bottom: 35px;
  font-weight: 700;
  font-size: 25px;
  color: #ffffff;
}

/* line 71, src/scss/_components/_footer.scss */
.footer__subtitle {
  padding-bottom: 5px;
  font-weight: 700;
  font-size: 20px;
  color: #ffffff;
}

/* line 79, src/scss/_components/_footer.scss */
.footer__address p {
  font-size: 16px;
  color: #ffffff;
}

/* line 83, src/scss/_components/_footer.scss */
.footer__address p + p {
  padding-top: 35px;
}

/* line 90, src/scss/_components/_footer.scss */
.footer__hours p {
  font-size: 16px;
  color: #ffffff;
}

/* line 96, src/scss/_components/_footer.scss */
.footer__nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

/* line 100, src/scss/_components/_footer.scss */
.footer__nav a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 16px;
  color: #ffffff;
}

/* line 3, src/scss/_components/_setup.scss */
.setup {
  position: relative;
  padding-top: 150px;
  padding-bottom: 150px;
  background-image: url("../img/img-setup-bg@2x.png");
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
          background-size: cover;
}

/* line 12, src/scss/_components/_setup.scss */
.setup:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

/* line 22, src/scss/_components/_setup.scss */
.setup__wrapper {
  z-index: 2;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

/* line 28, src/scss/_components/_setup.scss */
.setup__wrapper-left {
  width: 100%;
  max-width: -webkit-calc((100% / 2) + 20px);
  max-width: calc((100% / 2) + 20px);
}

/* line 33, src/scss/_components/_setup.scss */
.setup__wrapper-right {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 1px;
  max-width: 100%;
  padding: 50px 70px;
}

/* line 41, src/scss/_components/_setup.scss */
.setup__box {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 430px;
  background-color: #ffffff;
  -webkit-box-shadow: 12px 15px 43px 0 rgba(12, 13, 12, 0.59);
          box-shadow: 12px 15px 43px 0 rgba(12, 13, 12, 0.59);
}

/* line 53, src/scss/_components/_setup.scss */
.setup__box:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

/* line 63, src/scss/_components/_setup.scss */
.setup__box-content {
  z-index: 2;
  position: relative;
}

/* line 68, src/scss/_components/_setup.scss */
.setup__box-title {
  width: 430px;
  height: 430px;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  color: #ffffff;
  text-align: center;
  line-height: 1.1;
  font-size: 38px;
  text-shadow: 0 2px 0 #000, 2px 0 0 #000, 0 -2px 0 #000, -2px 0 0 #000;
}

/* line 79, src/scss/_components/_setup.scss */
.setup__box-title span {
  display: block;
  font-size: 49px;
}

/* line 85, src/scss/_components/_setup.scss */
.setup__box-play {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

/* line 91, src/scss/_components/_setup.scss */
.setup__box-play .icon-font {
  font-size: 90px;
  color: #ffffff;
}

/* line 98, src/scss/_components/_setup.scss */
.setup__title {
  padding-bottom: 58px;
  color: #df9801;
  text-align: left;
}

/* line 104, src/scss/_components/_setup.scss */
.setup__desc {
  padding-bottom: 50px;
  color: #fff;
  font-size: 18px;
}

/* line 3, src/scss/_components/_best.scss */
.best {
  position: relative;
  padding-top: 328px;
}

/* line 7, src/scss/_components/_best.scss */
.best__bg {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 100px;
}

/* line 16, src/scss/_components/_best.scss */
.best__bg-wrapper {
  width: 100%;
  max-width: 485px;
  padding-right: 30px;
}

/* line 23, src/scss/_components/_best.scss */
.best__wrapper {
  z-index: 2;
  position: relative;
  width: 100%;
  max-width: -webkit-calc((100% / 2) + (485px / 3));
  max-width: calc((100% / 2) + (485px / 3));
  margin-left: auto;
}

/* line 31, src/scss/_components/_best.scss */
.best__label {
  padding-bottom: 50px;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #a2a2a2;
}

/* line 39, src/scss/_components/_best.scss */
.best__heading {
  font-size: 55px;
  color: #df9801;
  line-height: 1.2;
}

/* line 46, src/scss/_components/_best.scss */
.best__title {
  padding-bottom: 40px;
  text-align: left;
}

/* line 51, src/scss/_components/_best.scss */
.best__desc {
  padding-bottom: 100px;
  font-size: 18px;
  color: #000000;
  line-height: 30px;
}

/* line 58, src/scss/_components/_best.scss */
.best__block {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 406px;
  -webkit-box-shadow: 19px 25px 49px 0 rgba(12, 12, 12, 0.38);
          box-shadow: 19px 25px 49px 0 rgba(12, 12, 12, 0.38);
  background-color: black;
}

/* line 66, src/scss/_components/_best.scss */
.best__block-bg {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 79, src/scss/_components/_best.scss */
.best__block-body {
  z-index: 2;
  position: relative;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 18px;
}

/* line 89, src/scss/_components/_best.scss */
.best__block-body p,
.best__block-body span {
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
}

/* line 96, src/scss/_components/_best.scss */
.best__block-body span {
  display: block;
}

/* line 103, src/scss/_components/_best.scss */
.best .swiper-container {
  padding: 50px 0 100px 50px;
}

/* line 107, src/scss/_components/_best.scss */
.best .swiper-slide {
  width: 310px !important;
}

/* line 111, src/scss/_components/_best.scss */
.best .swiper-pagination {
  z-index: 50;
  outline: none;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

/* line 118, src/scss/_components/_best.scss */
.best .swiper-pagination-bullet {
  opacity: 1;
  cursor: pointer;
  position: relative;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border: 2px solid #054d57;
  margin-right: 20px;
}

/* line 128, src/scss/_components/_best.scss */
.best .swiper-pagination-bullet:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-color: #054d57;
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

/* line 143, src/scss/_components/_best.scss */
.best .swiper-pagination-bullet:hover:after {
  -webkit-transform: scale(0.5);
      -ms-transform: scale(0.5);
          transform: scale(0.5);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

/* line 149, src/scss/_components/_best.scss */
.best .swiper-pagination-bullet:active, .best .swiper-pagination-bullet:focus {
  outline: none;
}

/* line 155, src/scss/_components/_best.scss */
.best .swiper-pagination-bullet-active:after {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

/* line 3, src/scss/_components/_reviews.scss */
.reviews {
  padding-bottom: 90px;
}

/* line 6, src/scss/_components/_reviews.scss */
.reviews__block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

/* line 10, src/scss/_components/_reviews.scss */
.reviews__block-left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 1px;
  max-width: 100%;
  min-height: 192px;
  padding: 39px 80px 30px 55px;
  background-color: #f3f3f3;
  -webkit-box-shadow: 8px 24px 40px 2px rgba(0, 0, 0, 0.16);
          box-shadow: 8px 24px 40px 2px rgba(0, 0, 0, 0.16);
}

/* line 21, src/scss/_components/_reviews.scss */
.reviews__block-left > div:nth-of-type(1) {
  width: 100px;
}

/* line 24, src/scss/_components/_reviews.scss */
.reviews__block-left > div:nth-of-type(2) {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 1px;
  max-width: 100%;
  padding-top: 10px;
}

/* line 32, src/scss/_components/_reviews.scss */
.reviews__block-left .icon-font {
  color: #df9801;
  font-size: 37px;
}

/* line 37, src/scss/_components/_reviews.scss */
.reviews__block-left p {
  font-size: 18px;
  color: #000000;
  line-height: 30px;
}

/* line 44, src/scss/_components/_reviews.scss */
.reviews__block-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  max-width: 270px;
  padding-left: 50px;
}

/* line 53, src/scss/_components/_reviews.scss */
.reviews__user {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

/* line 57, src/scss/_components/_reviews.scss */
.reviews__user-head {
  overflow: hidden;
  position: relative;
  width: 95px;
  height: 95px;
  margin-left: 30px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
}

/* line 70, src/scss/_components/_reviews.scss */
.reviews__user-body {
  padding-top: 10px;
}

/* line 73, src/scss/_components/_reviews.scss */
.reviews__user-body p,
.reviews__user-body span {
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

/* line 80, src/scss/_components/_reviews.scss */
.reviews__user-body p {
  font-size: 25px;
  font-weight: 700;
  color: #df9801;
  line-height: 1;
}

/* line 87, src/scss/_components/_reviews.scss */
.reviews__user-body span {
  font-size: 18px;
  color: #000000;
}

/* line 94, src/scss/_components/_reviews.scss */
.reviews__action {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* line 100, src/scss/_components/_reviews.scss */
.reviews__action > div:nth-of-type(2) {
  padding-left: 15px;
  padding-right: 15px;
}

/* line 107, src/scss/_components/_reviews.scss */
.reviews__btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

/* line 111, src/scss/_components/_reviews.scss */
.reviews__btn.swiper-button-disabled .icon-font {
  color: #878787;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

/* line 117, src/scss/_components/_reviews.scss */
.reviews__btn .icon-font {
  font-size: 50px;
  color: #000000;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

/* line 125, src/scss/_components/_reviews.scss */
.reviews__btn--next .icon-font {
  -webkit-transform: scaleX(-1);
      -ms-transform: scaleX(-1);
          transform: scaleX(-1);
}

/* line 132, src/scss/_components/_reviews.scss */
.reviews .swiper-container {
  padding: 50px;
}

/* line 136, src/scss/_components/_reviews.scss */
.reviews .swiper-pagination {
  position: relative;
  bottom: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 20px;
  color: #9a9a9a;
}

/* line 144, src/scss/_components/_reviews.scss */
.reviews .swiper-pagination p {
  font-size: 33px;
  color: #000000;
  line-height: 1;
}

/* line 150, src/scss/_components/_reviews.scss */
.reviews .swiper-pagination span {
  font-size: 20px;
  color: #9a9a9a;
}

/* line 3, src/scss/_components/_delivery.scss */
.delivery {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #f3f3f3;
}

/* line 8, src/scss/_components/_delivery.scss */
.delivery__title {
  padding-bottom: 50px;
}

/* line 12, src/scss/_components/_delivery.scss */
.delivery__box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

/* line 16, src/scss/_components/_delivery.scss */
.delivery__box-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* line 20, src/scss/_components/_delivery.scss */
.delivery__box-wrapper > div {
  width: 100%;
  max-width: -webkit-calc((100% - 90px) / 3);
  max-width: calc((100% - 90px) / 3);
}

/* line 24, src/scss/_components/_delivery.scss */
.delivery__box-wrapper > div:nth-of-type(2) {
  margin-left: 45px;
  margin-right: 45px;
  padding-bottom: 25px;
}

/* line 32, src/scss/_components/_delivery.scss */
.delivery__box-head {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 160px;
  height: 160px;
  margin-left: auto;
  margin-right: auto;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-color: #054d57;
}

/* line 44, src/scss/_components/_delivery.scss */
.delivery__box-head img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* line 51, src/scss/_components/_delivery.scss */
.delivery__box-body {
  padding-top: 50px;
}

/* line 54, src/scss/_components/_delivery.scss */
.delivery__box-body p {
  padding-bottom: 30px;
  font-size: 23px;
  color: #054d57;
  font-weight: bold;
  text-align: center;
}

/* line 62, src/scss/_components/_delivery.scss */
.delivery__box-body span {
  display: block;
  width: 100%;
  max-width: 310px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 18px;
  color: #000000;
}

/* line 75, src/scss/_components/_delivery.scss */
.delivery__more {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* line 79, src/scss/_components/_delivery.scss */
.delivery__more a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 25px;
  color: #e5b44c;
  font-weight: bold;
}

/* line 3, src/scss/_components/_slideshow.scss */
.slideshow {
  padding-top: 35px;
  padding-bottom: 45px;
}

/* line 8, src/scss/_components/_slideshow.scss */
.slideshow__wrapper-1 {
  padding-bottom: 35px;
}

/* line 14, src/scss/_components/_slideshow.scss */
.slideshow .swiper-container {
  opacity: 0;
}

/* line 18, src/scss/_components/_slideshow.scss */
.slideshow .swiper-slide {
  position: relative;
  height: 530px;
}

/* line 22, src/scss/_components/_slideshow.scss */
.slideshow .swiper-slide-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

/* line 33, src/scss/_components/_slideshow.scss */
.slideshow__preview {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

/* line 37, src/scss/_components/_slideshow.scss */
.slideshow__preview-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 40px;
}

/* line 43, src/scss/_components/_slideshow.scss */
.slideshow__preview .icon-font {
  margin-right: 10px;
  font-size: 40px;
  color: #000000;
}

/* line 49, src/scss/_components/_slideshow.scss */
.slideshow__preview p {
  color: #000000;
  font-size: 18px;
}

/* line 53, src/scss/_components/_slideshow.scss */
.slideshow__preview p span {
  color: #e5b44c;
  font-weight: 700;
}

/* line 3, src/scss/_components/_contacts.scss */
.contacts {
  padding-top: 45px;
  padding-bottom: 70px;
}

/* line 7, src/scss/_components/_contacts.scss */
.contacts__title {
  padding-bottom: 50px;
  font-size: 55px;
  color: #054d57;
  line-height: 1.2;
  text-align: center;
}

/* line 16, src/scss/_components/_contacts.scss */
.contacts__desc {
  padding-bottom: 45px;
  font-size: 18px;
  color: black;
  line-height: 1.667;
  text-align: center;
}

/* line 24, src/scss/_components/_contacts.scss */
.contacts__form {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

/* line 33, src/scss/_components/_contacts.scss */
.contacts__form-field {
  width: 100%;
  padding-bottom: 33px;
}

/* line 37, src/scss/_components/_contacts.scss */
.contacts__form-field--btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 50px;
}

/* line 44, src/scss/_components/_contacts.scss */
.contacts__form input,
.contacts__form textarea,
.contacts__form button {
  outline: none;
  position: relative;
  border-width: 2px;
  border-color: #b0b0b0;
  border-style: solid;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-border-radius: 0;
          border-radius: 0;
  background-color: #efefef;
}

/* line 57, src/scss/_components/_contacts.scss */
.contacts__form input,
.contacts__form textarea {
  width: 100%;
  font-size: 18px;
  line-height: 1.2;
}

/* line 88, src/scss/_utilities/_mixin.scss */
.contacts__form input.placeholder,
.contacts__form textarea.placeholder {
  font-size: 18px;
  color: #b0b0b0;
  line-height: 1.2;
}

/* line 89, src/scss/_utilities/_mixin.scss */
.contacts__form input:-moz-placeholder,
.contacts__form textarea:-moz-placeholder {
  font-size: 18px;
  color: #b0b0b0;
  line-height: 1.2;
}

/* line 90, src/scss/_utilities/_mixin.scss */
.contacts__form input::-moz-placeholder,
.contacts__form textarea::-moz-placeholder {
  font-size: 18px;
  color: #b0b0b0;
  line-height: 1.2;
}

/* line 91, src/scss/_utilities/_mixin.scss */
.contacts__form input:-ms-input-placeholder,
.contacts__form textarea:-ms-input-placeholder {
  font-size: 18px;
  color: #b0b0b0;
  line-height: 1.2;
}

/* line 92, src/scss/_utilities/_mixin.scss */
.contacts__form input::-webkit-input-placeholder,
.contacts__form textarea::-webkit-input-placeholder {
  font-size: 18px;
  color: #b0b0b0;
  line-height: 1.2;
}

/* line 69, src/scss/_components/_contacts.scss */
.contacts__form input {
  height: 60px;
  padding: 0 40px;
}

/* line 74, src/scss/_components/_contacts.scss */
.contacts__form textarea {
  resize: none;
  height: 148px;
  padding: 20px 40px;
}

/* line 80, src/scss/_components/_contacts.scss */
.contacts__form button {
  outline: none;
  cursor: pointer;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 227px;
  height: 47px;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-border-radius: 2em;
          border-radius: 2em;
  background-color: #df9801;
  font-size: 18.431px;
  color: white;
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
}

/*# sourceMappingURL=maps/app.css.map */
