@charset "UTF-8";
/* line 14, src/scss/_utilities/_extend.scss */
.slideshow .swiper-slide img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

/* line 26, src/scss/_utilities/_extend.scss */
body {
  font-family: 'Open Sans', sans-serif;
}

/* line 29, src/scss/_utilities/_extend.scss */
.contacts__title {
  font-family: 'Permanent Marker', 'Open Sans', cursive, sans-serif;
}

@font-face {
  font-family: "iconFont";
  src: url("../fonts/iconFont.eot");
  src: url("../fonts/iconFont.eot?#iefix") format("eot"), url("../fonts/iconFont.woff2") format("woff2"), url("../fonts/iconFont.woff") format("woff"), url("../fonts/iconFont.ttf") format("truetype"), url("../fonts/iconFont.svg#iconFont") format("svg");
}

/* line 23, src/scss/_generated/_spriteFont.scss */
.icon-facebook:before, .icon-instagram:before, .icon-maximize:before, .icon-twitter:before, .icon-youtube:before {
  font-family: "iconFont", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-decoration: none;
  text-transform: none;
}

/* line 50, src/scss/_generated/_spriteFont.scss */
.icon-facebook:before {
  content: "";
}

/* line 50, src/scss/_generated/_spriteFont.scss */
.icon-instagram:before {
  content: "";
}

/* line 50, src/scss/_generated/_spriteFont.scss */
.icon-maximize:before {
  content: "";
}

/* line 50, src/scss/_generated/_spriteFont.scss */
.icon-twitter:before {
  content: "";
}

/* line 50, src/scss/_generated/_spriteFont.scss */
.icon-youtube:before {
  content: "";
}

/* line 1, src/scss/_shared/_main-setting-reset.scss */
html,
body {
  width: 100%;
  min-height: 100vh;
}

/* line 6, src/scss/_shared/_main-setting-reset.scss */
html.is-hideScroll,
body.is-hideScroll {
  width: 100%;
  overflow: hidden !important;
}

/* line 13, src/scss/_shared/_main-setting-reset.scss */
html {
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* line 19, src/scss/_shared/_main-setting-reset.scss */
body {
  overflow-x: hidden;
  position: relative;
  margin: 0;
  padding: 0;
  background-color: #fff;
  line-height: 1.42857143;
  font-size: 14px;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 33, src/scss/_shared/_main-setting-reset.scss */
body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

/* line 38, src/scss/_shared/_main-setting-reset.scss */
body > .body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

/* line 44, src/scss/_shared/_main-setting-reset.scss */
body > .body--start {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

/* line 51, src/scss/_shared/_main-setting-reset.scss */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* line 54, src/scss/_shared/_main-setting-reset.scss */
*:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* line 61, src/scss/_shared/_main-setting-reset.scss */
button,
input,
optgroup,
select,
textarea {
  font-size: 100%;
  margin: 0;
}

/* line 71, src/scss/_shared/_main-setting-reset.scss */
button,
input {
  overflow: visible;
}

/* line 77, src/scss/_shared/_main-setting-reset.scss */
button[disabled] {
  opacity: 0.55;
  cursor: not-allowed;
}

/* line 83, src/scss/_shared/_main-setting-reset.scss */
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

/* line 89, src/scss/_shared/_main-setting-reset.scss */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 95, src/scss/_shared/_main-setting-reset.scss */
textarea {
  overflow: auto;
}

/* line 100, src/scss/_shared/_main-setting-reset.scss */
p,
h1, h2, h3, h4, h5, h6,
hr {
  margin: 0;
  padding: 0;
}

/* line 108, src/scss/_shared/_main-setting-reset.scss */
ul {
  margin: 0;
  padding: 0;
}

/* line 113, src/scss/_shared/_main-setting-reset.scss */
ul li {
  list-style: none;
}

/* line 119, src/scss/_shared/_main-setting-reset.scss */
a {
  outline: none;
  text-decoration: none;
}

/* line 124, src/scss/_shared/_main-setting-reset.scss */
a:hover, a:focus {
  text-decoration: none;
}

/* line 131, src/scss/_shared/_main-setting-reset.scss */
input[type="text"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

/* line 135, src/scss/_shared/_main-setting-reset.scss */
picture {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 8, src/scss/_shared/_grid.scss */
.c-grid, .c-grid-large, .c-grid-fluid {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}

/* line 20, src/scss/_shared/_grid.scss */
.c-grid {
  max-width: 1280px;
}

/* line 26, src/scss/_shared/_grid.scss */
.c-grid-large {
  max-width: 1480px;
}

/* line 31, src/scss/_shared/_grid.scss */
.c-grid-fluid {
  max-width: 100%;
}

/* line 4, src/scss/_shared/_common.scss */
.copyright {
  padding-bottom: 23px;
}

/* line 7, src/scss/_shared/_common.scss */
.copyright__text {
  color: #ffffff;
  font-size: 16px;
}

/* line 15, src/scss/_shared/_common.scss */
.social {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

/* line 19, src/scss/_shared/_common.scss */
.social__link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 42px;
  height: 42px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-color: #ffffff;
}

/* line 28, src/scss/_shared/_common.scss */
.social__link:not(:last-of-type) {
  margin-right: 25px;
}

/* line 32, src/scss/_shared/_common.scss */
.social__link .icon-font {
  color: #07181e;
  font-size: 20px;
}

/* line 1, src/scss/_shared/_magnificPopup.scss */
.c-modal {
  position: relative;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
}

/* line 12, src/scss/_shared/_magnificPopup.scss */
.mfp-gallery .mfp-counter {
  display: none;
}

/* line 16, src/scss/_shared/_magnificPopup.scss */
.mfp-gallery .mfp-figure {
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-duration: 0.75s;
          animation-duration: 0.75s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

/* line 30, src/scss/_shared/_magnificPopup.scss */
.mfp-zoom-in .mfp-with-anim {
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: scale(0.8);
      -ms-transform: scale(0.8);
          transform: scale(0.8);
}

/* line 36, src/scss/_shared/_magnificPopup.scss */
.mfp-zoom-in.mfp-bg {
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

/* line 42, src/scss/_shared/_magnificPopup.scss */
.mfp-zoom-in.mfp-ready .mfp-with-anim {
  opacity: 1;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

/* line 46, src/scss/_shared/_magnificPopup.scss */
.mfp-zoom-in.mfp-ready.mfp-bg {
  opacity: 0.8;
}

/* line 52, src/scss/_shared/_magnificPopup.scss */
.mfp-zoom-in.mfp-removing .mfp-with-anim {
  -webkit-transform: scale(0.8);
      -ms-transform: scale(0.8);
          transform: scale(0.8);
  opacity: 0;
}

/* line 56, src/scss/_shared/_magnificPopup.scss */
.mfp-zoom-in.mfp-removing.mfp-bg {
  opacity: 0;
}

/* line 67, src/scss/_shared/_magnificPopup.scss */
.mfp-slide-in .mfp-with-anim {
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
}

/* line 73, src/scss/_shared/_magnificPopup.scss */
.mfp-slide-in.mfp-bg {
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

/* line 79, src/scss/_shared/_magnificPopup.scss */
.mfp-slide-in.mfp-ready .mfp-with-anim {
  opacity: 1;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}

/* line 83, src/scss/_shared/_magnificPopup.scss */
.mfp-slide-in.mfp-ready.mfp-bg {
  opacity: 0.8;
}

/* line 89, src/scss/_shared/_magnificPopup.scss */
.mfp-slide-in.mfp-removing .mfp-with-anim {
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
  opacity: 0;
}

/* line 93, src/scss/_shared/_magnificPopup.scss */
.mfp-slide-in.mfp-removing.mfp-bg {
  opacity: 0;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* line 1, src/scss/_shared/_iconFont.scss */
.icon-font {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  line-height: 1;
}

/* line 4, src/scss/_macros/_logotype.scss */
.logo.logo--footer {
  max-width: 118px;
  padding-bottom: 23px;
}

/* line 13, src/scss/_macros/_logotype.scss */
.logo.logo--light .logo__img-curve-1 {
  stroke: #fff;
}

/* line 16, src/scss/_macros/_logotype.scss */
.logo.logo--light .logo__img-curve-2 {
  stroke: #fff;
}

/* line 21, src/scss/_macros/_logotype.scss */
.logo.logo--light .logo__img-circle--left {
  fill: #fff;
}

/* line 24, src/scss/_macros/_logotype.scss */
.logo.logo--light .logo__img-circle--middle {
  stroke: #fff;
}

/* line 27, src/scss/_macros/_logotype.scss */
.logo.logo--light .logo__img-circle--right {
  stroke: #fff;
}

/* line 32, src/scss/_macros/_logotype.scss */
.logo.logo--light .logo__img-letter--top {
  fill: #1d1d1b;
  stroke: #1d1d1b;
}

/* line 36, src/scss/_macros/_logotype.scss */
.logo.logo--light .logo__img-letter--bottom {
  fill: #1d1d1b;
  stroke: #fff;
}

/* line 45, src/scss/_macros/_logotype.scss */
.logo__btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

/* line 50, src/scss/_macros/_logotype.scss */
.logo__img {
  display: block;
  width: 100%;
  height: 100%;
}

/* line 56, src/scss/_macros/_logotype.scss */
.logo__img-curve-1 {
  stroke: #1d1d1b;
}

/* line 59, src/scss/_macros/_logotype.scss */
.logo__img-curve-2 {
  stroke: #1d1d1b;
}

/* line 64, src/scss/_macros/_logotype.scss */
.logo__img-circle--left {
  fill: #1d1d1b;
}

/* line 67, src/scss/_macros/_logotype.scss */
.logo__img-circle--middle {
  stroke: #1d1d1b;
}

/* line 70, src/scss/_macros/_logotype.scss */
.logo__img-circle--right {
  stroke: #1d1d1b;
}

/* line 75, src/scss/_macros/_logotype.scss */
.logo__img-letter--top {
  fill: #fff;
  stroke: #fff;
}

/* line 79, src/scss/_macros/_logotype.scss */
.logo__img-letter--bottom {
  fill: #fff;
  stroke: #1d1d1b;
}

/* line 3, src/scss/_components/_header.scss */
.header {
  background: -webkit-gradient(linear, left top, left bottom, from(#001a28), to(#081412));
  background: -webkit-linear-gradient(top, #001a28 0%, #081412 100%);
  background: -o-linear-gradient(top, #001a28 0%, #081412 100%);
  background: linear-gradient(to bottom, #001a28 0%, #081412 100%);
}

/* line 3, src/scss/_components/_footer.scss */
.footer {
  position: relative;
  padding-top: 105px;
  padding-bottom: 296px;
  background: -webkit-gradient(linear, left top, left bottom, from(#001a28), to(#081412));
  background: -webkit-linear-gradient(top, #001a28 0%, #081412 100%);
  background: -o-linear-gradient(top, #001a28 0%, #081412 100%);
  background: linear-gradient(to bottom, #001a28 0%, #081412 100%);
}

/* line 9, src/scss/_components/_footer.scss */
.footer__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 16, src/scss/_components/_footer.scss */
.footer__bg div {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center bottom;
}

/* line 27, src/scss/_components/_footer.scss */
.footer__wrapper {
  z-index: 2;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

/* line 32, src/scss/_components/_footer.scss */
.footer__wrapper-left, .footer__wrapper-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 50%;
}

/* line 39, src/scss/_components/_footer.scss */
.footer__wrapper-left {
  padding-left: 40px;
  padding-right: 40px;
}

/* line 43, src/scss/_components/_footer.scss */
.footer__wrapper-left > div {
  width: 100%;
  max-width: -webkit-calc((100% - 70px) / 2);
  max-width: calc((100% - 70px) / 2);
}

/* line 49, src/scss/_components/_footer.scss */
.footer__wrapper-right {
  padding-left: 20px;
  padding-right: 40px;
}

/* line 54, src/scss/_components/_footer.scss */
.footer__wrapper-right > div:nth-of-type(1) {
  width: 40%;
}

/* line 57, src/scss/_components/_footer.scss */
.footer__wrapper-right > div:nth-of-type(2) {
  width: 60%;
}

/* line 64, src/scss/_components/_footer.scss */
.footer__title {
  padding-bottom: 35px;
  font-weight: 700;
  font-size: 25px;
  color: #ffffff;
}

/* line 71, src/scss/_components/_footer.scss */
.footer__subtitle {
  padding-bottom: 5px;
  font-weight: 700;
  font-size: 20px;
  color: #ffffff;
}

/* line 79, src/scss/_components/_footer.scss */
.footer__address p {
  font-size: 16px;
  color: #ffffff;
}

/* line 83, src/scss/_components/_footer.scss */
.footer__address p + p {
  padding-top: 35px;
}

/* line 90, src/scss/_components/_footer.scss */
.footer__hours p {
  font-size: 16px;
  color: #ffffff;
}

/* line 96, src/scss/_components/_footer.scss */
.footer__nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

/* line 100, src/scss/_components/_footer.scss */
.footer__nav a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 16px;
  color: #ffffff;
}

/* line 3, src/scss/_components/_slideshow.scss */
.slideshow {
  padding-top: 35px;
  padding-bottom: 45px;
}

/* line 8, src/scss/_components/_slideshow.scss */
.slideshow__wrapper-1 {
  padding-bottom: 35px;
}

/* line 14, src/scss/_components/_slideshow.scss */
.slideshow .swiper-container {
  opacity: 0;
}

/* line 18, src/scss/_components/_slideshow.scss */
.slideshow .swiper-slide {
  position: relative;
  height: 530px;
}

/* line 22, src/scss/_components/_slideshow.scss */
.slideshow .swiper-slide-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

/* line 33, src/scss/_components/_slideshow.scss */
.slideshow__preview {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

/* line 37, src/scss/_components/_slideshow.scss */
.slideshow__preview-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 40px;
}

/* line 43, src/scss/_components/_slideshow.scss */
.slideshow__preview .icon-font {
  margin-right: 10px;
  font-size: 40px;
  color: #000000;
}

/* line 49, src/scss/_components/_slideshow.scss */
.slideshow__preview p {
  color: #000000;
  font-size: 18px;
}

/* line 53, src/scss/_components/_slideshow.scss */
.slideshow__preview p span {
  color: #e5b44c;
  font-weight: 700;
}

/* line 3, src/scss/_components/_contacts.scss */
.contacts {
  padding-top: 45px;
  padding-bottom: 70px;
}

/* line 7, src/scss/_components/_contacts.scss */
.contacts__title {
  padding-bottom: 50px;
  font-size: 55px;
  color: #054d57;
  line-height: 1.2;
  text-align: center;
}

/* line 16, src/scss/_components/_contacts.scss */
.contacts__desc {
  padding-bottom: 45px;
  font-size: 18px;
  color: black;
  line-height: 1.667;
  text-align: center;
}

/* line 24, src/scss/_components/_contacts.scss */
.contacts__form {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

/* line 33, src/scss/_components/_contacts.scss */
.contacts__form-field {
  width: 100%;
  padding-bottom: 33px;
}

/* line 37, src/scss/_components/_contacts.scss */
.contacts__form-field--btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 50px;
}

/* line 44, src/scss/_components/_contacts.scss */
.contacts__form input,
.contacts__form textarea,
.contacts__form button {
  outline: none;
  position: relative;
  border-width: 2px;
  border-color: #b0b0b0;
  border-style: solid;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-border-radius: 0;
          border-radius: 0;
  background-color: #efefef;
}

/* line 57, src/scss/_components/_contacts.scss */
.contacts__form input,
.contacts__form textarea {
  width: 100%;
  font-size: 18px;
  line-height: 1.2;
}

/* line 88, src/scss/_utilities/_mixin.scss */
.contacts__form input.placeholder,
.contacts__form textarea.placeholder {
  font-size: 18px;
  color: #b0b0b0;
  line-height: 1.2;
}

/* line 89, src/scss/_utilities/_mixin.scss */
.contacts__form input:-moz-placeholder,
.contacts__form textarea:-moz-placeholder {
  font-size: 18px;
  color: #b0b0b0;
  line-height: 1.2;
}

/* line 90, src/scss/_utilities/_mixin.scss */
.contacts__form input::-moz-placeholder,
.contacts__form textarea::-moz-placeholder {
  font-size: 18px;
  color: #b0b0b0;
  line-height: 1.2;
}

/* line 91, src/scss/_utilities/_mixin.scss */
.contacts__form input:-ms-input-placeholder,
.contacts__form textarea:-ms-input-placeholder {
  font-size: 18px;
  color: #b0b0b0;
  line-height: 1.2;
}

/* line 92, src/scss/_utilities/_mixin.scss */
.contacts__form input::-webkit-input-placeholder,
.contacts__form textarea::-webkit-input-placeholder {
  font-size: 18px;
  color: #b0b0b0;
  line-height: 1.2;
}

/* line 69, src/scss/_components/_contacts.scss */
.contacts__form input {
  height: 60px;
  padding: 0 40px;
}

/* line 74, src/scss/_components/_contacts.scss */
.contacts__form textarea {
  resize: none;
  height: 148px;
  padding: 20px 40px;
}

/* line 80, src/scss/_components/_contacts.scss */
.contacts__form button {
  outline: none;
  cursor: pointer;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 227px;
  height: 47px;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-border-radius: 2em;
          border-radius: 2em;
  background-color: #df9801;
  font-size: 18.431px;
  color: white;
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
}

/*# sourceMappingURL=maps/app.css.map */
