// SECTION :: START

section#delivery.delivery
	.c-grid
		.delivery__wrapper

			p.delivery__title.c-title(data-aos="fade-up") Delivery & Warranty

			.delivery__box-wrapper
				div(data-aos="fade-up")
					.delivery__box
						.delivery__box-head
							img(src="img/img-delivery-1.png" alt="")
						.delivery__box-body
							p Free NZ Delivery
							span We offer free discreet New Zealand courier delivery on all products to all of New Zealand.
				div(data-aos="fade-up")
					.delivery__box
						.delivery__box-head
							img(src="img/img-delivery-2.png" alt="")
						.delivery__box-body
							p We Guarantee
							span We are so confident in the brand and our products we offer that we include a 2-year warranty with order.
				div(data-aos="fade-up")
					.delivery__box
						.delivery__box-head
							img(src="img/img-delivery-3.png" alt="")
						.delivery__box-body
							p Best Outcome
							span Your order will be delivered to your door within 2 - 3 days, your purchase will perform as good as we say.

			.delivery__more(data-aos="fade-up")
				a(href="#") Read more

// SECTION :: END
