// FOOTER :: START

footer#footer.footer

	.footer__bg
		div(style='background-image: url("img/img-footer-illustration-1.png")' floating-node-js)
		div(style='background-image: url("img/img-footer-illustration-2.png")' floating-node-js)
		div(style='background-image: url("img/img-footer-illustration-3.png")' floating-node-js)

	.footer__bg.footer__bg--mobile
		div(style='background-image: url("img/img-footer-illustration-1--mobile.png")' floating-node-js)
		div(style='background-image: url("img/img-footer-illustration-2--mobile.png")' floating-node-js)

	.c-grid
		.footer__wrapper
			.footer__wrapper-left

				div(data-aos="fade-up")

					p.footer__title Eclipse Grow Tents

					.footer__address
						p!= "Phone: <a href='tel:050844372257'>0508 4 4372257</a>"
						p!= "Warehouse Address: <br>153 Hepburn Road, Glendene, Auckland 0602"

				div(data-aos="fade-up")

					.footer__collapse
						.footer__collapse-head
							div
								p.footer__subtitle Showroom Hours
							div
								i.icon-font.icon-plus
						.footer__collapse-body
							.footer__hours
								p Monday: Closed
								p Tuesday: 10 am - 3 pm
								p Wednesday: 10 am - 3 pm
								p Thursday: 10 am - 3 pm
								p Friday: 10 am - 3 pm
								p Saturday&Sunday : Closed

			.footer__wrapper-right

				div(data-aos="fade-up")

					.footer__collapse
						.footer__collapse-head
							div
								p.footer__subtitle Sitemap
							div
								i.icon-font.icon-plus
						.footer__collapse-body
							nav.footer__nav
								a(href="#ideal" anchor-js) About
								a(href="#best" anchor-js) Products
								a(href="#reviews" anchor-js) Reviews
								a(href="#slideshow" anchor-js) Gallery
								a(href="#contacts" anchor-js) Contact Us

				div(data-aos="fade-up")

					.logo.logo--light.logo--footer
						a.logo__btn(href="#")
							+logo()

					.copyright
						p.copyright__text Copyright ©  2020 Eclipse Grow Tents. Company S.L. All rights reserved.

					.social
						a.social__link(href="#")
							i.icon-font.icon-youtube
						a.social__link(href="#")
							i.icon-font.icon-twitter
						a.social__link(href="#")
							i.icon-font.icon-facebook
						a.social__link(href="#")
							i.icon-font.icon-instagram

// FOOTER :: END
