// HEADER :: START

header#header.header

	.header__wrapper
		.header__wrapper-left

			+hamburger()

			.logo.logo--light.logo--header
				a.logo__btn(href="/")
					+logo()

		.header__wrapper-right(mobile-block-js)

			.header__nav
				a.is-active(href="#main" anchor-js) Home
				a(href="#ideal" anchor-js) About
				a(href="#best" anchor-js) Products
				a(href="#reviews" anchor-js) Reviews
				a(href="#slideshow" anchor-js) Gallery
				a(href="#contacts" anchor-js) Contact Us

// HEADER :: END
