// SECTION :: START

section#ideal.ideal
	.c-grid
		.ideal__wrapper

			p.ideal__title.c-title The Ideal Hydroponic Grow Tent

			p.ideal__desc Are you wondering about setting up your very first tent? You’re in the right place! Grow tents are one of the most important tools when it comes to indoor gardening and setting them up is a simple process once you know what’s needed. A grow tent allows you to recreate nature under your very own conditions. Basically, when you’re using a grow tent properly, you become the weather.​
			p.ideal__desc Indoor grow tents - a year-round solution to raising seeds and tending to your precious plants until maturity. Running a tent simplifies indoor soil and hydroponic gardening. It allows you to grow crops all year long regardless of the seasons because you’re able to control the growing environment completely. This means better harvests, more organized growing, and fewer problems with pests and diseases.​ Plants grown in an indoor plant tent can grow and thrive without insects and bugs.

			.ideal__box-wrapper
				div
					.ideal__box
						.ideal__box-head
							img(src="img/img-ideal-1.png" srcset="img/img-ideal-1@2x.png 2x" alt="")
						.ideal__box-body
							p.ideal__box-title Reflective Material
							p.ideal__box-desc The reflection inside a growing tent ensures your plant foliage receives light from all directions.
				div
					.ideal__box
						.ideal__box-head
							img(src="img/img-ideal-2.png" srcset="img/img-ideal-2@2x.png 2x" alt="")
						.ideal__box-body
							p.ideal__box-title Air Circulation
							p.ideal__box-desc Vents and ports in grow tent designs provide ventilation and air circulation.
				div
					.ideal__box
						.ideal__box-head
							img(src="img/img-ideal-3.png" srcset="img/img-ideal-3@2x.png 2x" alt="")
						.ideal__box-body
							p.ideal__box-title Climate-Control
							p.ideal__box-desc The construction makes it easy for equipment access to create a climate-controlled environment.

	.ideal__container
		.c-grid

			p.ideal__container-title!= "<strong>It’s important to remember:</strong> Your grow tent itself is only the exterior structure. To have a reliable indoor gardening system, you’ll need some other pieces of equipment and organize them in a way that will help you create a constant and suitable plant growing environment. So, call us and we will help you to make a reliable indoor gardening system."

// SECTION :: END
