// SECTION :: START

section#main.main

	.main__bg
		.main__bg-img
			img(src="img/img-main-bg-1.png" srcset="img/img-main-bg-1@2x.png 2x" alt="")
			img(src="img/img-main-bg-2.png" srcset="img/img-main-bg-2@2x.png 2x" alt="")
			img(src="img/img-main-bg-3.png" srcset="img/img-main-bg-3@2x.png 2x" alt="")
			
		.main__bg-cover
			img(src="img/img-main-box.png" srcset="img/img-main-box@2x.png 2x" alt="")

	.c-grid
		.main__wrapper

			div

				p.main__title eclipse grow tents
				p.main__desc!= "A year-round solution to raising seeds and <br>tending to your precious plants until maturity"

				.main__btn
					a(href="#")
						span Explore Now

// SECTION :: END
