// SECTION :: START

section#why.why
	.c-grid
		.why__wrapper

			p.why__title.c-title Why Eclipse Grow Tent?


			.why__block-wrapper
				.why__block-bg
					img(src="img/img-why-bg.png" alt="")

				.why__block-col.why__block-col-1
					.why__block.why__block-1
						.why__block-head
							.why__block-head-img
								img(src="img/img-why-block-1.png" alt="")
							p.why__block-head-num 1.
						.why__block-body
							p.why__block-title Garden year-round
							p.why__block-desc If you want to garden year-round and have an unused indoor space, consider growing edibles under an Eclipse Grow Tent. From leafy greens and fig trees to cauliflower or tomatoes, there are plenty of options for what you can plant in your indoor Eclipse grow tent.

				.why__block-col.why__block-col-2
					.why__block.why__block-2
						.why__block-head
							.why__block-head-img
								img(src="img/img-why-block-2.png" alt="")
							p.why__block-head-num 2.
						.why__block-body
							p.why__block-title Space wisely
							p.why__block-desc Eclipse grow tent can take up as much or as little space as you want. They are ideal for growing in areas you normally wouldn't think of, such as a garage or closet. Because you control the environment, you don't need to worry about temperature and light fluctuations.

				.why__block-col.why__block-col-3
					.why__block.why__block-3
						.why__block-head
							.why__block-head-img
								img(src="img/img-why-block-3.png" alt="")
							p.why__block-head-num 3.
						.why__block-body
							p.why__block-title Optimal growing environments indoors
							p.why__block-desc Eclipse Grow Tents help gardeners create optimal growing environments indoors. They are made out of flexible materials and include fans, lights, and sometimes carbon filters. The reflective material on the inside helps prevent hot spots. Seedlings benefit dramatically from the enclosed environment because it allows you, the grower, complete control over climate and lighting.

				.why__block-col.why__block-col-4
					.why__block.why__block-4
						.why__block-head
							.why__block-head-img
								img(src="img/img-why-block-4.png" alt="")
							p.why__block-head-num 4.
						.why__block-body
							p.why__block-title Easy & Quick to Set Up
							p.why__block-desc!= "Assembling your grow tent and getting completely set up to start growing will take about an afternoon and can be done by just about anyone (<a href='#'>full instructions</a>). Overall, the work of setting up a grow tent reminds of putting together a camping tent."

// SECTION :: END
