---
title: Eclipse

pageClassName: p-home
---
extends shared/_layout

block content
	div.body(class!= pageClassName)

		include components/_main
		include components/_ideal
		include components/_why
		include components/_setup
		include components/_best
		include components/_reviews
		include components/_delivery
		include components/_slideshow
		include components/_contacts
