// SECTION :: START

.best {
	position: relative;
	padding-top: 250px;
	@include adaptive(1023) {
		padding-top: 200px;
	}
	@include adaptive(767) {
		padding-top: 50px;
		padding-bottom: 25px;
	}

	&__bg {
		z-index: 0;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		padding-top: 75px;
		@include adaptive(767) {
			position: relative;
			padding-top: 0;
		}

		&-wrapper {
			width: 100%;
			max-width: 455px;
			padding-right: 30px;
			@include adaptive(1023) {
				max-width: 375px;
			}
			@include adaptive(767) {
				padding-right: 0;
			}
		}
	}

	&__wrapper {
		z-index: 2;
		position: relative;
		width: 100%;
		max-width: calc((100% / 2) + (485px / 3));
		margin-left: auto;
		@include adaptive(1279) {
			max-width: calc(100% - 455px);
		}
		@include adaptive(1023) {
			max-width: calc(100% - 375px);
		}
		@include adaptive(767) {
			max-width: 100%;
		}
	}

	&__label {
		padding-bottom: 40px;
		font-size: 26px;
		font-weight: 700;
		line-height: 1;
		text-transform: uppercase;
		color: #a2a2a2;
		@include adaptive(1279) {
			padding-bottom: 30px;
			font-size: 22px;
		}
	}

	&__heading {
		font-size: 45px;
		color: #df9801;
		line-height: 1.2;
		@extend %fontPermanentMarker;
		@include adaptive(1279) {
			font-size: 40px;
		}
	}

	&__title {
		padding-bottom: 40px;
		text-align: left;
		@include adaptive(1023) {
			padding-bottom: 30px;
		}
	}

	&__desc {
		padding-bottom: 75px;
		font-size: 16px;
		color: #000000;
		line-height: 30px;
		@include adaptive(1023) {
			padding-bottom: 55px;
		}
		@include adaptive(767) {
			padding-bottom: 25px;
			font-size: 15px;
			line-height: 1.6;
		}
	}

	&__block {
		overflow: hidden;
		position: relative;
		width: 100%;
		height: 375px;
		box-shadow: 0 8px 15px 0 rgba(12, 13, 12, 0.1);
		background-color: rgb(0, 0, 0);
		@include adaptive(767) {
			height: 355px;
		}

		&-bg {
			z-index: 0;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;

			img {
				@extend %imageResCoverAbs;
			}
		}

		&-body {
			z-index: 2;
			position: relative;
			width: 100%;
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			padding: 10px;

			p,
			span {
				color: #ffffff;
				font-size: 16px;
				font-weight: 700;
			}

			span {
				display: block;
			}
		}
	}

	.swiper {
		&-container {
			padding: 30px 0 60px 30px;
			@include adaptive(1023) {
				padding: 25px 0 25px 25px;
			}
			@include adaptive(767) {
				padding: 20px 0 20px 20px;
			}
		}

		&-slide {
			width: 275px !important;
		}

		&-pagination {
			z-index: 50;
			outline: none;
			position: relative;
			display: flex;
			align-items: center;
			@include adaptive(767) {
				display: none;
			}

			&-bullet {
				opacity: 1;
				cursor: pointer;
				position: relative;
				width: 20px;
				height: 20px;
				background-color: #ffffff;
				border: 2px solid #054d57;
				margin-right: 20px;
				@include adaptive(1023) {
					width: 16px;
					height: 16px;
					margin-right: 10px;
				}

				&:after {
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					border-radius: 50%;
					background-color: #054d57;
					transform-origin: center;
					transform: scale(0);
					@include transition(transform);
				}

				&:hover {
					&:after {
						transform: scale(0.5);
						@include transition(transform);
					}
				}

				&:active,
				&:focus {
					outline: none;
				}

				&-active {
					&:after {
						transform: scale(1);
						@include transition(transform);
					}
				}
			}
		}
	}
}

// SECTION :: END
