// SECTION :: START

.contacts {
	padding-top: 80px;
	padding-bottom: 80px;
	@include adaptive(767) {
		padding-top: 50px;
		padding-bottom: 50px;
	}

	&__title {
		padding-bottom: 20px;
		@extend %fontPermanentMarker;
		font-size: 50px;
		color: rgb(5, 77, 87);
		line-height: 1.2;
		text-align: center;
		@include adaptive(1279) {
			font-size: 40px;
		}
		@include adaptive(767) {
			font-size: 33px;
		}
	}

	&__desc {
		padding-bottom: 40px;
		font-size: 16px;
		color: rgb(0, 0, 0);
		line-height: 1.667;
		text-align: center;
		@include adaptive(1023) {
			padding-bottom: 25px;
			font-size: 15px;

			br {
				display: none;
			}
		}
	}

	&__form {
		position: relative;
		display: flex;
		flex-direction: column;
		width: 100%;
		max-width: 800px;
		margin-left: auto;
		margin-right: auto;

		&-field {
			width: 100%;
			padding-bottom: 33px;
			@include adaptive(767) {
				padding-bottom: 25px;
			}

			&--btn {
				display: flex;
				justify-content: center;
				padding-bottom: 0;
			}
		}

		input,
		textarea,
		button {
			outline: none;
			position: relative;
			border-width: 2px;
			border-color: rgb(176, 176, 176);
			border-style: solid;
			box-shadow: none;
			border-radius: 3px;
			background-color: rgba(239, 239, 239, 0.75);
		}

		input,
		textarea {
			width: 100%;
			font-size: 16px;
			line-height: 1.2;
			@include inputPlaceholder {
				font-size: 16px;
				color: rgb(176, 176, 176);
				line-height: 1.2;
			}
		}

		input {
			height: 55px;
			padding: 0 20px;
			@include adaptive(767) {
				height: 50px;
			}
		}

		textarea {
			resize: none;
			height: 130px;
			padding: 20px;
			@include adaptive(767) {
				height: 115px;
			}
		}

		button {
			outline: none;
			cursor: pointer;
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			min-width: 230px;
			height: 55px;
			border: none;
			box-shadow: none;
			border-radius: 2em;
			background-color: rgb(223, 152, 1);
			font-size: 18.431px;
			color: rgb(255, 255, 255);
			font-weight: bold;
			line-height: 1.2;
			text-align: center;
			@include transition(background-color);
			@include adaptive(767) {
				height: 50px;
				min-width: 200px;
				font-size: 15px;
			}

			&:hover {
				background-color: rgb(5, 77, 87);
				@include transition(background-color);
			}
		}
	}
}

// SECTION :: END
