// FOOTER :: START

.footer {
	position: relative;
	padding-top: 120px;
	padding-bottom: 160px;
	background: linear-gradient(to bottom, rgba(0,26,40,1) 0%,rgba(8,20,18,1) 100%);
	@include adaptive(1023) {
		padding-top: 50px;
		padding-bottom: 50px;
	}

	&__bg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		@include adaptive(767) {
			display: none;
		}

		&--mobile {
			display: none;
			@include adaptive(767) {
				display: block;
			}
		}

		div {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-repeat: no-repeat;
			background-position: center bottom;
			background-size: cover;
			@include adaptive(1023) {
				background-size: contain;
				background-position: right bottom;
			}
		}
	}

	&__wrapper {
		z-index: 2;
		position: relative;
		display: flex;
		@include adaptive(1023) {
			flex-wrap: wrap;
		}

		&-left,
		&-right {
			display: flex;
			justify-content: space-between;
			width: 50%;
			@include adaptive(1023) {
				flex-wrap: wrap;
				width: 100%;
			}
		}

		&-left {
			padding-left: 40px;
			padding-right: 40px;
			@include adaptive(1279) {
				padding-left: 0;
				padding-right: 20px;
			}
			@include adaptive(1023) {
				padding-right: 0;
			}

			> div {
				width: 100%;
				max-width: calc((100% - 70px) / 2);
				@include adaptive(1279) {
					max-width: calc((100% - 40px) / 2);
				}
				@include adaptive(1023) {
					max-width: 100%;
					padding-bottom: 25px;

					&:nth-of-type(1) {
						padding-right: 140px;
						margin-bottom: 25px;
						border-bottom: 1px solid #fff;
					}
				}
			}
		}

		&-right {
			padding-left: 20px;
			padding-right: 40px;
			@include adaptive(1279) {
				padding-right: 20px;
			}
			@include adaptive(1023) {
				padding-left: 0;
				padding-right: 0;
			}

			> div {
				&:nth-of-type(1) {
					width: 40%;
					@include adaptive(1023) {
						width: 100%;
						padding-bottom: 25px;
					}
				}
				&:nth-of-type(2) {
					width: 60%;
					@include adaptive(1023) {
						width: 100%;
					}
				}
			}
		}
	}

	&__title {
		padding-bottom: 35px;
		font-weight: 700;
		font-size: 25px;
		color: #ffffff;
		@include adaptive(1023) {
			font-size: 20px;
			padding-bottom: 25px;
		}
	}

	&__subtitle {
		min-height: 35px;
		margin-bottom: 15px;
		line-height: 37px;
		font-weight: 700;
		font-size: 18px;
		color: #ffffff;
		@include adaptive(1023) {
			min-height: unset;
			margin-bottom: 0;
			font-size: 20px;
		}
	}

	&__address {
		@include adaptive(767) {
			width: calc(100% + 100px);
		}

		p {
			font-size: 16px;
			color: #ffffff;
			@include adaptive(1023) {
				font-size: 15px;
			}

			a {
				color: #ffffff;
			}

			& + p {
				padding-top: 35px;
				@include adaptive(1023) {
					padding-top: 25px;
				}
			}
		}
	}

	&__hours {
		@include adaptive(1023) {
			padding-top: 15px;
		}

		p {
			font-size: 16px;
			color: #ffffff;
			line-height: 1.8;
		}
	}

	&__nav {
		display: flex;
		flex-direction: column;
		@include adaptive(1023) {
			padding-top: 15px;
		}

		a {
			display: flex;
			font-size: 16px;
			color: #ffffff;
			line-height: 1.8;
		}
	}

	&__collapse {
		&-head {
			@include adaptive(1023) {
				cursor: pointer;
				display: flex;
				align-items: center;
				justify-content: space-between;
			}

			.icon-font {
				display: none;
				font-size: 18px;
				color: #ffffff;
				@include adaptive(1023) {
					display: flex;
				}
			}
		}

		&-body {
			@include adaptive(1023) {
				display: none;
			}
		}
	}

	.logo {
		@include adaptive(1023) {
			position: absolute;
			top: 0;
			right: 0;
			max-width: 100px;
		}
	}
}

// FOOTER :: END
