// SECTION :: START

.main {
  position: relative;
  background: linear-gradient(to bottom, rgba(0,26,40,1) 0%,rgba(8,20,18,1) 100%);

  .c-grid {
    max-width: 1470px;
  }

  &__bg {
    z-index: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    &--cover {
      overflow: unset;
    }

    &-img {
      position: absolute;
      left: -50px;
      bottom: 0;
      width: calc(100% + 100px);
      height: 100%;

      img {
        @extend %imageResCoverAbs;
        object-fit: contain;
        object-position: left bottom;
        @include adaptive(767) {
          top: auto;
          bottom: 0;
          height: 75%;
          object-fit: cover;
          object-position: right bottom;
        }
      }
    }

    &-cover {
      position: absolute;
      top: 0;
      right: 0;
      width: 50%;
      height: 100%;
      @include adaptive(767) {
        display: flex;
        align-items: flex-end;
        width: 80%;
      }

      img {
        position: relative;
        top: 130px;
        display: block;
        max-width: 100%;
        height: auto;
        max-height: 100%;
        margin-left: auto;
        @include adaptive(767) {
          top: 30px;
        }
      }
    }
  }

  &__wrapper {
    z-index: 2;
    position: relative;
    display: flex;
    align-items: center;
    min-height: 100vh;
    padding-top: 100px;
    padding-bottom: 100px;
    @include adaptive(1023) {
      min-height: 90vh;
    }
    @include adaptive(767) {
      height: auto;
      padding-bottom: 300px;
    }

    > div {
      width: 100%;
      max-width: 50%;
      @include adaptive(767) {
        max-width: 75%;
      }
    }
  }

  &__title {
    padding-bottom: 40px;
    @extend %fontPermanentMarker;
    font-size: 65px;
    color: #ffffff;
    @include adaptive(1279) {
      font-size: 55px;
    }
    @include adaptive(767) {
      padding-bottom: 25px;
      font-size: 35px;
    }
  }

  &__desc {
    padding-bottom: 80px;
    font-size: 20px;
    color: #ffffff;
    @include adaptive(767) {
      padding-bottom: 50px;
      font-size: 15px;
      line-height: 1.6;
    }
  }

  &__btn {
    display: flex;
    align-items: center;

    a {
      outline: none;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 55px;
      padding-left: 50px;
      padding-right: 50px;
      border-radius: 10rem;
      border-style: solid;
      border-width: 1px;
      border-color: rgb(255, 255, 255);
      background-color: transparent;
      @include transition(background-color);
      @include adaptive(767) {
        height: 40px;
        padding-left: 20px;
        padding-right: 20px;
      }

      &:hover {
        background-color: #ffffff;
        @include transition(background-color);

        span {
          color: rgba(8,20,18,1);
          @include transition(color);
        }
      }

      span {
        color: #ffffff;
        font-size: 18px;
        font-weight: 600;
        line-height: 1;
        @include transition(color);
        @include adaptive(767) {
          font-size: 15px;
        }
      }
    }
  }
}

// SECTION :: END
