// SECTION :: START

.main {
  position: relative;
  background: linear-gradient(to bottom, rgba(0,26,40,1) 0%,rgba(8,20,18,1) 100%);

  .c-grid {
    max-width: 1470px;
  }

  &__bg {
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    &-img {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 100%;

      img {
        @extend %imageResCoverAbs;
        object-fit: contain;
        object-position: left bottom;
      }
    }

    &-cover {
      position: absolute;
      top: 0;
      right: 0;
      width: 50%;
      height: 100%;

      img {
        position: relative;
        top: 130px;
        display: block;
        max-width: 100%;
        height: auto;
        max-height: 100%;
        margin-left: auto;
      }
    }
  }

  &__wrapper {
    z-index: 2;
    position: relative;
    display: flex;
    align-items: center;
    min-height: 100vh;
    padding-top: 100px;
    padding-bottom: 100px;

    > div {
      width: 100%;
      max-width: 50%;
    }
  }

  &__title {
    padding-bottom: 40px;
    @extend %fontPermanentMarker;
    font-size: 65px;
    color: #ffffff;
  }

  &__desc {
    padding-bottom: 80px;
    font-size: 20px;
    color: #ffffff;
  }

  &__btn {
    display: flex;
    align-items: center;

    a {
      outline: none;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 55px;
      padding-left: 50px;
      padding-right: 50px;
      border-radius: 10rem;
      border-style: solid;
      border-width: 1px;
      border-color: rgb(255, 255, 255);
      background-color: transparent;
      @include transition(background-color);

      &:hover {
        background-color: #ffffff;
        @include transition(background-color);

        span {
          color: rgba(8,20,18,1);
          @include transition(color);
        }
      }

      span {
        color: #ffffff;
        font-size: 18px;
        font-weight: 600;
        line-height: 1;
        @include transition(color);
      }
    }
  }
}

// SECTION :: END
