// SECTION :: START

.reviews {
	padding-top: 40px;
	padding-bottom: 75px;
	@include adaptive(767) {
		padding-top: 25px;
		padding-bottom: 25px;
	}

	.c-grid {
		@include adaptive(767) {
			padding-left: 0;
			padding-right: 0;
		}
	}

	&__block {
		display: flex;
		align-items: center;
		@include adaptive(767) {
			flex-wrap: wrap;
			padding: 20px;
			box-shadow: 0 8px 15px 0 rgba(12, 13, 12, 0.1);
			background-color: rgb(243, 243, 243);
		}

		&-left {
			display: flex;
			flex: 1;
			min-width: 1px;
			max-width: 100%;
			min-height: 192px;
			padding: 39px 80px 30px 55px;
			box-shadow: 0 8px 15px 0 rgba(12, 13, 12, 0.1);
			background-color: rgb(243, 243, 243);
			@include adaptive(1023) {
				padding: 30px;
			}
			@include adaptive(767) {
				flex-wrap: wrap;
				width: 100%;
				padding: 0;
				box-shadow: none;
				background-color: transparent;
			}

			> div {
				&:nth-of-type(1) {
					width: 100px;
					@include adaptive(1023) {
						width: 75px;
					}
					@include adaptive(767) {
						width: 100%;
					}
				}
				&:nth-of-type(2) {
					flex: 1;
					min-width: 1px;
					max-width: 100%;
					padding-top: 10px;
				}
			}

			.icon-font {
				color: #df9801;
				font-size: 37px;
				@include adaptive(1023) {
					font-size: 33px;
				}
			}

			p {
				font-size: 18px;
				color: #000000;
				line-height: 30px;
				@include adaptive(1023) {
					font-size: 16px;
				}
				@include adaptive(767) {
					font-size: 15px;
					line-height: 25px;
				}
			}
		}

		&-right {
			display: flex;
			justify-content: center;
			width: 100%;
			max-width: 270px;
			padding-left: 50px;
			@include adaptive(1279) {
				padding-left: 25px;
			}
			@include adaptive(1023) {
				max-width: 200px;
			}
			@include adaptive(767) {
				justify-content: flex-end;
				max-width: 100%;
				padding-top: 25px;
				padding-left: 0;
			}
		}
	}

	&__user {
		display: flex;
		flex-direction: column;
		@include adaptive(767) {
			align-items: center;
			flex-direction: row-reverse;
		}

		&-head {
			overflow: hidden;
			position: relative;
			width: 90px;
			height: 90px;
			margin-left: 30px;
			border-radius: 50%;
			@include adaptive(767) {
				width: 75px;
				height: 75px;
				padding-left: 25px;
			}

			img {
				@extend %imageResCoverAbs;
			}
		}

		&-body {
			padding-top: 10px;

			p,
			span {
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
			}

			p {
				font-size: 22px;
				font-weight: 700;
				color: #df9801;
				line-height: 1;
				@include adaptive(767) {
					font-size: 20px;
					text-align: right;
				}
			}

			span {
				font-size: 16px;
				color: #000000;
				@include adaptive(767) {
					display: block;
					font-size: 15px;
					text-align: right;
				}
			}
		}
	}

	&__action {
		display: flex;
		align-items: center;
		justify-content: center;

		> div {
			&:nth-of-type(2) {
				padding-left: 15px;
				padding-right: 15px;
			}
		}
	}

	&__btn {
		display: flex;

		&.swiper-button-disabled {
			.icon-font {
				color: #878787;
				@include transition(color);
			}
		}

		.icon-font {
			font-size: 50px;
			color: #000000;
			@include transition(color);
			@include adaptive(1279) {
				font-size: 35px;
			}
		}

		&--next {
			.icon-font {
				transform: scaleX(-1);
			}
		}
	}

	.swiper {
		&-container {
			padding: 30px 15px;
			@include adaptive(767) {
				padding: 25px 20px;
			}
		}

		&-pagination {
			position: relative;
			bottom: 0;
			display: flex;
			align-items: flex-end;
			font-size: 20px;
			color: #9a9a9a;

			p {
				font-size: 33px;
				color: #000000;
				line-height: 1;
				@include adaptive(1023) {
					font-size: 30px;
				}
			}

			span {
				font-size: 20px;
				color: #9a9a9a;
				@include adaptive(1023) {
					font-size: 18px;
				}
			}
		}
	}
}

// SECTION :: END
