// SECTION :: START

.setup {
	position: relative;
	padding-top: 50px;
	padding-bottom: 50px;
	background-image: url('../img/img-setup-bg@2x.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	&:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(#000, 0.6);
		@include adaptive(767) {
			background-color: rgba(#000, 0.4);
		}
	}

	&__wrapper {
		z-index: 2;
		position: relative;
		display: flex;
		align-items: center;
		@include adaptive(767) {
			flex-direction: column-reverse;
		}

		&-left {
			width: 100%;
			max-width: calc((100% / 2) + 20px);
			@include adaptive(767) {
				max-width: 100%;
			}

			.social {
				display: none;
				padding-top: 25px;
				@include adaptive(767) {
					display: flex;
				}
			}
		}

		&-right {
			flex: 1;
			min-width: 1px;
			max-width: 100%;
			padding: 50px;
			@include adaptive(767) {
				padding: 0 0 25px 0;

				.social {
					display: none;
				}
			}
		}
	}

	&__box {
		overflow: hidden;
		position: relative;
		width: 100%;
		height: 430px;
		background-color: #ffffff;
		box-shadow: 12px 15px 43px 0 rgba(12, 13, 12, 0.59);
		@include adaptive(767) {
			height: 300px;
		}

		&-bg {
			@extend %imageResCoverAbs;
		}

		&:after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(#000, 0.5);
		}

		&-content {
			z-index: 2;
			position: relative;
		}

		&-title {
			width: 430px;
			height: 430px;
			transform: rotate(-90deg);
			color: #ffffff;
			text-align: center;
			line-height: 1.1;
			font-size: 30px;
			@extend %fontPermanentMarker;
			text-shadow: 0 2px 0 #000, 2px 0 0 #000, 0 -2px 0 #000, -2px 0 0 #000;
			@include adaptive(767) {
				width: 300px;
				height: 300px;
				font-size: 24px;
			}

			span {
				display: block;
				font-size: 42px;
				@include adaptive(767) {
					font-size: 32px;
				}
			}
		}

		&-play {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);

			&:hover {
				.icon-font {
					transform: scale(0.9);
					@include transition(transform);
				}
			}

			.icon-font {
				font-size: 65px;
				color: #ffffff;
				filter: drop-shadow(0 5px 10px rgba(#000, 0.15));
				@include transition(transform);
				@include adaptive(767) {
					font-size: 45px;
				}
			}
		}
	}

	&__title {
		padding-bottom: 40px;
		color: #df9801;
		text-align: left;
	}

	&__desc {
		padding-bottom: 20px;
		color: #fff;
		font-size: 16px;
		@include adaptive(767) {
			padding-bottom: 0;
			font-size: 15px;
		}
	}
}

// SECTION :: END
