// SECTION :: START

.slideshow {
	padding-top: 35px;
	padding-bottom: 45px;

	&__wrapper {
		&-1 {
			padding-bottom: 35px;
		}
	}

	.swiper {
		&-container {
			opacity: 0;
		}

		&-slide {
			position: relative;
			height: 530px;

			&-link {
				display: flex;
				align-items: flex-start;
			}

			img {
				@extend %imageResCoverAbs;
			}
		}
	}

	&__preview {
		display: flex;
		align-items: center;

		&-wrapper {
			display: flex;
			justify-content: center;
			padding-top: 40px;
		}

		.icon-font {
			margin-right: 10px;
			font-size: 40px;
			color: #000000;
		}

		p {
			color: #000000;
			font-size: 18px;

			span {
				color: #e5b44c;
				font-weight: 700;
			}
		}
	}
}

// SECTION :: END
