@font-face {
	font-family: "iconFont";
	src: url('../fonts/iconFont.eot');
	src: url('../fonts/iconFont.eot?#iefix') format('eot'),
		url('../fonts/iconFont.woff2') format('woff2'),
		url('../fonts/iconFont.woff') format('woff'),
		url('../fonts/iconFont.ttf') format('truetype'),
		url('../fonts/iconFont.svg#iconFont') format('svg');
}

@mixin icon-styles {
	font-family: "iconFont", sans-serif;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	// speak: none; // only necessary if not using the private unicode range (firstGlyph option)
	text-decoration: none;
	text-transform: none;
}

%icon {
	@include icon-styles;
}

@function icon-char($filename) {
	$char: "";

	@if $filename == facebook {
		$char: "\E001";
	}
	@if $filename == instagram {
		$char: "\E002";
	}
	@if $filename == left-arrow {
		$char: "\E003";
	}
	@if $filename == maximize {
		$char: "\E004";
	}
	@if $filename == play {
		$char: "\E005";
	}
	@if $filename == plus {
		$char: "\E006";
	}
	@if $filename == quotation-marks {
		$char: "\E007";
	}
	@if $filename == twitter {
		$char: "\E008";
	}
	@if $filename == youtube {
		$char: "\E009";
	}

	@return $char;
}

@mixin icon($filename, $insert: before, $extend: true) {
	&:#{$insert} {
		@if $extend {
			@extend %icon;
		} @else {
			@include icon-styles;
		}
		content: icon-char($filename);
	}
}

.icon-facebook {
	@include icon(facebook);

}
.icon-instagram {
	@include icon(instagram);

}
.icon-left-arrow {
	@include icon(left-arrow);

}
.icon-maximize {
	@include icon(maximize);

}
.icon-play {
	@include icon(play);

}
.icon-plus {
	@include icon(plus);

}
.icon-quotation-marks {
	@include icon(quotation-marks);

}
.icon-twitter {
	@include icon(twitter);

}
.icon-youtube {
	@include icon(youtube);

}